foreign[outputclass='embed-plant-uml']{
    white-space:pre;
}
programlisting[language='embed-plant-uml']{
    display:inline;
}

foreign[outputclass="embed-plant-uml"]:after{
		display:inline;
		content: "\A"
			    oxy_textArea(
			      	edit, '#text',
			      	contentType, 'text/plain');
}
