<!DOCTYPE plugin PUBLIC "-//Oxygen Plugin" "../plugin.dtd">
<plugin
 id="com.oxygenxml.popup.continue.writing"
 name="Continue writing content in the current paragraph."
 description="Plugin which adds contextual menu action which uses AI engine to propose a continuation for the current content."
 version="1.0"
 vendor="Syncro Soft"
 class="ro.sync.exml.plugin.Plugin"
 classLoaderType="preferReferencedResources">
 <extension type="WorkspaceAccessJS" href="wsAccess.js"/>
</plugin>
