latex{	
	display:inline !important;
    white-space: -oxy-trim-when-ws-only !important;
    vertical-align:middle;
}
latex * {
    display:none !important;
    white-space:normal !important;
}

foreign[outputclass=embed-latex]{
    vertical-align:middle;
}
