<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//Oxygen Plugin" "../plugin.dtd">
<plugin
 id="com.oxygenxml.latex.support"
 name="Add support for Latex Images"
 description="Add support to display Latex images in the Author visual editing mode."
 version="1.0"
 vendor="Syncro Soft"
 class="ro.sync.exml.plugin.Plugin"
 classLoaderType="preferReferencedResources">
 <runtime>
  <library name="jlatexmath-1.0.7.jar" scope="global"/>
 </runtime>
 <extension type="WorkspaceAccessJS" href="wsAccess.js"/>
</plugin>
